<?xml version="1.0" encoding="UTF-8" ?>
<!--ロガーの設定，なくてもよい-->
<configuration>
    <!--デフォルト設定を読み込む-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--org/springframework/boot/logging/logback/file-appender.xml をオーバーライド-->
    <appender name="TIME_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!--一ヶ月の分だけ保存-->
            <maxHistory>30</maxHistory>
            <!--デフォルトでは，ログファイルが10MBになったらファイルが分割される。-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

        </rollingPolicy>
    </appender>

    <root level="INFO">
        <!--コンソール出力-->
        <appender-ref ref="CONSOLE"/>
        <!--ファイル書き出し-->
        <appender-ref ref="TIME_FILE"/>
    </root>

</configuration>